components:
  pilot:
    enabled: true
    k8s:
      tolerations:
        - key: workload
          operator: Equal
          value: operations
          effect: NoSchedule
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

  sidecarInjectorWebhook:
    enabled: true
    k8s:
      tolerations:
        - key: workload
          operator: Equal
          value: operations
          effect: NoSchedule

  validationWebhook:
    enabled: true
    k8s:
      tolerations:
        - key: workload
          operator: Equal
          value: operations
          effect: NoSchedule

  ingressGateways:
    - name: istio-ingressgateway
      enabled: false

  egressGateways:
    - name: istio-egressgateway
      enabled: false