apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-configmap
data:
  appsettings.json: |
    {
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*",
    "WeatherForecast": {
        "Redis": {
          "WriteDbConnection": "dev-redis-primary.default.svc.cluster.local:6379",
          "ReadDbConnection": "dev-redis-secondary.default.svc.cluster.local:6379"
        }
      }
    }